@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: Lato, sans-serif;
  background-color: var(--dark-whiten);
  padding: 0;
  margin: 0;
}

button {
  border: 2px solid black;
  border-radius: 0;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

button:active {
  opacity: 0.5;
}

#header {
  text-align: center;
}

#main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 2px;
}

#score-list {
  margin: 5px;
  padding: 20px;
  border-right: 2px solid black;
}

#score-head {
  display: flex;
  justify-content: space-between;
}

#score-head button {
  padding: 0 3px 0 3px;
  margin: 20px;
}

#items {
  align-self: center;
  margin: auto;
  padding: 0;
}

#items li {
  list-style: none;
}

#items li:nth-child(odd) {
  background-color: rgb(173, 168, 160);
}

input {
  display: block;
  margin-bottom: 5px;
}

#add-item button {
  float: right;
}
